.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px 40px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Nunito Sans", sans-serif;
}
.links {
  width: 150px;
  display: flex;
  justify-content: space-between;
  color: #006da1;
  font-size: 22px;
}

.links a {
  font-family: "Nunito Sans", sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #006da1;
  font-size: 20px;
  position: relative;
  transition: all 0.3s ease;
}
.links a:visited {
  color: #006da1;
}
.links a::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #006da1;
  width: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.links a:hover {
  color: #006da1;
}
.links a:hover::after {
  width: 100%;
}
.links a:active {
  color: #fff;
}
.links a:active::after {
  background-color: #ffffff;
}
.profile {
  display: flex;
  justify-content: space-between;
  width: 410px;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  max-height: 100px;
}

.name {
  text-align: right;
}
.name p:first-child {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
}
.name p:last-child {
  color: #008767;
}
.name .profpicture {
  height: 100%;
}
.profpicture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logout {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #565759;
}

.main {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 70%;
}
.sidebar {
  width: 20%;
  height: 100%;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar_title {
  font-size: 20px;
  font-family: "PT Sans Caption", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.sidebar label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.filters {
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters select {
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  width: 140px;
  border-radius: 4px;
  width: 100%;
}

.select_group {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons {
  width: 80%;
}
.filter_button {
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  margin-top: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.drop_button {
  cursor: pointer;
  width: 80%;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  color: #fff;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  background-color: red;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.drop_button:hover {
  background-color: rgb(219, 21, 21);
}
.drop_button:active {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.column {
  flex: 1 0 230px;
  width: 230px;
  min-height: 70vh;
  background-color: #e2e2e2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
  margin: 0 10px 0 0;
}
.column_title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 90%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 15px 0;
  color: #565759;
}
.column_title_left {
  min-width: 20%;
  display: flex;
  justify-content: center;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #565759;
}

.columns-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.columns-scroll::-webkit-scrollbar {
  width: 12px;
  background-color: #999999;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.columns-scroll::-webkit-scrollbar-thumb {
  background-color: #565759;
  border-radius: 4px;
}

.columns-scroll::-webkit-scrollbar:horizontal {
  height: 12px;
  background-color: #999999;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.columns-scroll::-webkit-scrollbar-thumb:horizontal {
  background-color: #565759;
  border-radius: 4px;
}

.columns {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.tasks {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
}

.task-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 250px;
  padding: 15px 10px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Nunito Sans", sans-serif;
  border-radius: 4px;
  transition: 0.5s;
}
.task-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.task-card span {
  color: #565759;
}

.task-title {
  font-size: 18px;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.date {
  text-align: right;
  font-size: 14px;
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.47);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.active {
  display: flex;
  pointer-events: all;
}
.modal_content {
  width: 50%;
  height: 80%;
  background-color: white;
  box-shadow: 4px 4px 4px #2e2e2e;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.modal_inform {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal_header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.file_input {
  padding: 5px 10px;
  font-family: "PT Sans Caption", sans-serif;
}
.modal_header p {
  font-size: 32px;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}
.modal_close{
  cursor: pointer;
}
.modal_description{
  overflow-y: auto;
}
.modal_description::-webkit-scrollbar {
  display: none;
}
.modal_description::-webkit-scrollbar-thumb {
  display: none;
}
.descr_span {
  padding: 5px 0;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  color: black;
}
.descr_span span {
  color: #565759;
}
.modal_photo {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}
.modal_photo_okr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 50px 0;
  gap: 30px;
}
.modal_pp {
  width: 246px;
  height: 254px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.modal_photo_title span {
  color: black !important;
  font-size: 16px;
}
.zatemn {
  height: 22px;
  width: 100%;
  box-shadow: 0px -12px 15px 20px white;
  position: absolute;
  background-color: white;
  bottom: 0;
}

@media screen and (max-width: 1380px) and (min-width: 900px) {
  .content{
    padding: 10px 15px;
  }
  .main{
    gap: 10px;
  }
  .sidebar{
    width: 35%;
  }
  .modal_content{
    width: 70%;
  }
}
@media screen and (max-width: 899px) and (min-width: 700px) {
  .wrapper{
    padding: 10px;
  }
  .content{
    padding: 10px 15px;
  }
  .main{
    gap: 10px;
  }
  .sidebar{
    width: 45%;
  }
  .links a{
    font-size: 18px;
  }
  .name:nth-child(1){
    font-size: 14px;
  }
  .name:nth-last-child(1){
    font-size: 10px;
  }
  .person{
    width: 270px;
  }
  .profile{
    width: 360px;
  }
  .modal_content{
    width: 70%;
  }
}
@media screen and (max-width: 699px) and (min-width: 500px) {
  .wrapper{
    padding: 10px 0;
  }
  .content{
    padding: 10px 15px;
  }
  .main{
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    height: 20%;
    padding: 0 2%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sidebar_title{
    display: none;
  }
  .filters{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .select label{
    font-size: 14px;
    margin: 0;
  }
  .select_group{
    flex-direction: row;
    align-items: center;
    width: 55%;
  }
  .buttons{
    width: 30%;
    display: flex;
    align-items: center;
  }
  .filter_button{
    margin: 0;
  }
  .drop_button{
    margin: 0;
    width: 20%;
  }
  .links a{
    font-size: 16px;
  }
  .links{
    width: 100px;
  }
  .name:nth-child(1){
    font-size: 14px;
  }
  .name:nth-last-child(1){
    font-size: 10px;
  }
  .person{
    width: 270px;
  }
  .profile{
    width: 350px;
  }
  .header{
    padding: 0 10px;
  }
  .modal_content{
    width: 80%;
  }
}
@media screen and (max-width: 499px) and (min-width: 300px) {
  .wrapper{
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: white;
  }
  .content{
    padding: 0;
    gap: 0;
    
  }
  .logo{
    display: none
  }
  .header{
    box-sizing: content-box;
    height: 100px;
    padding:20px;
    background-color: white;
    border-radius: 0 0 4px 4px;
    flex-direction: column-reverse;
    align-items: start;
    box-shadow: none;
  }
  .profile{
    width: 100%;
    justify-content: space-around;
  }
  .name{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .person{
    width: 60%;
    flex-direction: row-reverse;
  }
  
  .links a{
    font-size: 20px;
  }
  .links{
    width: 100%;
    height: 20px;
    justify-content: space-around;
  }

  .main{
    display: flex;
    flex-direction: column;
    height: 75%;
  }
  .column{
    flex: 1 0 250px;
    margin: 0 50px;
    min-height: 50vh;
  }
  .sidebar{
    width: 100%;
    height: 30%;
    padding: 0 2%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .sidebar_title{
    display: none;
  }
  .filters{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .select label{
    font-size: 14px;
    margin: 0;
  }
  .select_group{
    flex-direction: column;
    align-items: center;
    width: 55%;
  }
  .buttons{
    width: 35%;
    display: flex;
    align-items: center;
  }
  .filter_button{
    margin: 0;
    font-size: 14px;
  }
  .drop_button{
    margin: 0;
    width: 30%;
    font-size: 14px;
  }
  
  .name:nth-child(1){
    font-size: 13px;
    text-align: left;
  }
  .modal_content{
    width: 100%;
  }
  
}